.clickable{
    color: black;
}
.clickable:hover{
    font-weight:bold;
}

#mainMenu{
    width: 100%;
    height: 100%;
}
td{
    text-align: center;
    height: 50px;
}
#menuItems{
    width: 150px;
    height: 100px;
    margin: 0px auto;
    padding-top: 300px;
}
.items{
    width: 200px;
    height: 100px;
    margin: 0px auto;
    padding-top: 300px;
}
